Package: adguard-debian
Version: 1.0.0-1
Section: admin
Priority: optional
Architecture: amd64
Depends: adduser
Maintainer: nilocnt <nilocnt@gmail.com>
Homepage: https://github.com/nilocnt/adguard-debian
Description: AdGuard CLI Debian package
 AdGuard for Linux is a system-wide ad blocker for Linux systems. This
 package provides the command-line interface with systemd integration.
